@model HotelsMVC.ViewModels.HotelPromotedEmail
Content-Type: text/html; charset=utf-8

<html>
<body>
    Your hotel @Model.HotelName has got promoted. to @Model.DateOfPromotion.ToShortDateString().
</body>
</html>
